body{
    background-color: beige;
    

}

img{
    border-radius: 12px;
    width: 255px;
    height: 400px;
}

#dov{
    display: flex;
    justify-content: center;
}
.container1{
    display: flex;
    background-color: aliceblue;
    width: 500px;
    height: 400px;
    border-radius: 12px;

}
.dinheiro{
    color: darkgreen;
}

.texts{
    position: relative;
    left: 22px;
}

.botao{
    width: 200px;
    height: 40px;
    color: black;
    position: relative;
    left: 333px;
}
