@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --Green-200-lighter: hsl(148, 38%, 91%);
    --Green-600-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500-medium: hsl(186, 15%, 59%);
    --Grey-900-darker: hsl(187, 24%, 22%);

}

body{
    background-color: var(--Grey-500-medium);
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 550px;
    height: 500px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 20px;
    
}

.contato{
    text-align: left;

}
    
